:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --color: #db00ff;
  --accent-color: #ff0070;
  --background-color: #000024;
  --button-color: #ff0070;
  --text-color: #f1b2ce;
  --color-decor: #000028;
}

:root.theme-dark .decorated-word {
  display: inline-block;
}
