:root.theme-light {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #FFC0CB;
  --accent-color: #FF8DCB;
  --color: #FFC2E6;
  --button-color: #353430;
  --text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
 --background-image: url('../images/cover-image-light.png');
  --background-color: #FFC0CB;
  --accent-color: #FF8DCB;
  --color: #FFC2E6;
  --button-color: #353430;
  --text-color: #353430;
  }
}

.decorated-word {
  display: none;
}
