.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  padding: 10px;
}

.decorated-zone {
  height: 100vh;
  min-height: 668px;
}

.decorated-word {
  position: absolute;
  right: 18px;
  top: 10px;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 25px;
  letter-spacing: 0;
  color: var(--accent-color);
}

.decorated-word::after {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 2px;
  margin-left: 8px;
  margin-right: 3px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.corners::before {
  top: 10px;
  right: 10px;
  position: absolute;
  display: inline-block;
  content: "";
  width: 26px;
  height: 26px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.header__theme-menu {
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 10px;
}

.header__theme-menu-list {
  grid-column: 3 / 4;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 18px;
  color: var(--button-color);
  row-gap: 15px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 1.8px 11px 1.6px 14px;
}

.header__theme-menu-button_type_dark:hover {
  outline: 1px solid var(--button-color);
  padding: 1px 12px;
}

.header__theme-menu-button_type_light:hover {
  outline: 1px solid var(--button-color);
  padding: 1px 12px;
}

.header__theme-menu-button_type_auto:hover {
  outline: 1px solid var(--button-color);
  padding: 1px 12px;
}

.header__theme-menu-button_type_dark:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
  outline: none;
}

.header__theme-menu-button_type_light:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
  outline: none;
}

.header__theme-menu-button_type_auto:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
  outline: none;
}

.header__theme-menu-button_type_dark:focus-visible {
  outline: 1px solid var(--button-color);
  padding: 1px 12px;
}

.header__theme-menu-button_type_light:focus-visible {
  outline: 1px solid var(--button-color);
  padding: 1px 12px;
}

.header__theme-menu-button_type_auto:focus-visible {
  outline: 1px solid var(--button-color);
  padding: 1px 12px;
}

.title {
  grid-row: 2 / 2;
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: var(--font-size-headings);
  line-height: 83%;
  color: var(--color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: center;
}

.title-decor {
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: black;
}

.header_paragraph {
  grid-row: 3 / 3;
  display: grid;
  max-width: 355px;
  max-height: 117px;
  font-weight: 700;
  align-self: center;
  justify-self: end;
  margin-block-end: 2.1vh;
}

.corners::after {
  bottom: 10px;
  left: 10px;
  position: absolute;
  display: inline-block;
  content: "";
  width: 26px;
  height: 26px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

.content-section {
  width: 100%;
  display: grid;
  row-gap: 20px;
  grid-template-rows: repeat(3, min-content);
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  grid-row: 1 / 1;
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: var(--font-size-text);
  line-height: 23.4px;
  color: var(--button-color);
}

.heading-why {
  padding-top: 40px;
}

.heading-what {
  padding-top: 50px;
}

.heading-how {
  padding-top: 50px;
}

.card-text {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 23.4px;
  color: var(--text-color);
  padding-top: 10px;
}

.card-font {
  margin-top: 20px;
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 1px solid var(--button-color);
  padding: 1px 1px;
}

.content-section-images {
  padding: 50px 10px 40px 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  grid-auto-flow: dense;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.card-images {
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
}

h2 {
  grid-row: 2 / 2;
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: var(--font-size-headings);
  line-height: 83%;
  color: var(--color);
  text-shadow: 1px 1px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    margin-bottom: 60px;
  }

  .header__theme-menu {
    margin-top: 11vh;
    margin-right: 0.9vh;
  }

  .decorated-word {
    right: 26px;
    top: 20px;
  }

  .corners::before {
    top: 20px;
    right: 20px;
  }

  .corners::after {
    bottom: 20px;
    left: 20px;
  }

  .header_paragraph {
    max-width: 364px;
    margin-block-end: 12.5vh;
    margin-right: 1vh;
  }

  .title {
    justify-self: start;
    margin-left: -10px;
  }

  .content-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 20px;
  }

  .card {
    grid-column: 2 / 2;
  }

  .heading-why {
    padding-top: 0;
  }

  .content-section-what {
    padding-top: 10px;
    padding-bottom: 80px;
  }

  .heading-what {
    grid-column: 1 / 1;
  }

  .card-multitasking {
    grid-column: 1 / 3;
  }

  .card-food {
    grid-column: 1 / 3;
  }

  .card-gadgets {
    grid-column: 1 / 3;
  }

  .heading-how {
    padding-top: 0;
  }

  .content-section-images {
    padding: 80px 20px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-images-title {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
  }

  .card-images-sunset {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .card-images-ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    object-fit: cover;
  }

  .card-images-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    object-fit: cover;
  }

  .card-images-books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .card-images-street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }

  .header__theme-menu-list {
    grid-column: 2 / 3;
    flex-direction: row;
    justify-self: center;
    align-self: self-start;
    gap: 10px;
  }

  .title {
    font-size: clamp(9.8125rem, 7.0433rem + 4.3269vw, 10.9375rem);
  }

  .header_paragraph {
    max-width: 491px;
    margin-block-end: 9.3vh;
    margin-right: 1.3vh;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .card-why {
    grid-column: 2 / 4;
  }

  .card-multitasking {
    grid-column: 1 / 1;
  }

  .card-food {
    grid-column: 2 / 2;
  }

  .card-gadgets {
    grid-column: 3 / 3;
  }

  .card-how {
    grid-column: 2 / 4;
  }

  .content-section-what {
    padding-bottom: 60px;
  }

  h2 {
    font-size: clamp(9.8125rem, 7.0433rem + 4.3269vw, 10.9375rem);
  }
}
