:root {
  --background-image: url('../images/cover-image-dark.png');
  --color: #DB00FF;
  --font-family: 'IBM Plex mono';
  --accent-color: #ff0070;
  --font-size-text: 18px;
  --font-size-headings:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-color: #000543;
  --button-color: #ff0070;
  --text-color: #f1b2ce;
}
